* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  width: 1440px;
}

.advantages {
  height: 570px;
  display: inline-block;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.color-line {
  border: 1px solid #f5bd41;
  width: 100px;
  margin-bottom: 80px;
}

.img-advantages {
  display: inline-block;
  height: 185px;
  width: 295px;
}

.img-advantages > img {
  margin-bottom: 60px;
}

.img-advantages-headphones {
  margin-left: 105px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 625px;
  background-color: #10367c;
  color: #ffffff;
}
.column-footer {
  width: 400px;
  margin: 120px 0 65px;
}

.column-about {
  margin-left: 100px;
}

.copyright {
  margin: 0 0 0 100px;
}

ul > li {
  list-style-type: none;
}

li {
  margin-bottom: 24px;
}
