@import url("fonts.css");

:root{
  --color-general-white: #FFFFFF;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.label {
  position: absolute;
  left: 0;
  top: -45px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


ul {
  margin-left: -40px;
}

li {
  margin-bottom: 24px;
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

label {
  color: var(--color-general-white);
}

input {
  height: 100%;
  border-radius: 8px;
  border: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 51px 104px 0 104px;
}

.top-section {
  background-image: url("/images/top-section-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position-y: -145px;*/
  height: 100vh;
}

.header-top-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-top-section {
  background-image: url("../images/Logo-sprite.png");
  background-repeat: no-repeat;
  width: 205px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.sentence {
  display: flex;
  gap: 24px;
}

.sentence a {
  color: var(--color-general-white);
  font-size: 24px;
  text-decoration: none;
}

.block-color-line {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.color-line {
  border: 2px solid #f5bd41;
  background-color: #f5bd41;
  width: 50px;
}

.personal {
  display: flex;
  gap: 24px;
}

.night-img {
  background-image: url("../images/Logo-sprite.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-position-x: -205px;
  background-position-y: -10px;
}

.account-img {
  background-image: url("../images/Logo-sprite.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position-x: -235px;
}

.header-wrapper__text {
  color: var(--color-general-white);
  font-size: 51px;
  margin-top: 202px;
  margin-bottom: 145px;
}

.header-search {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}

.header-search input {
  font-size: 18px;
  padding: 0 0 0 24px;
}

.form {
  display: flex;
  width: 100%;
  background-color: #f3f3f4;
  border-radius: 8px;
}

.input-wrapper {
  position: relative;
}

.city-wrapper {
  max-width: 470px;
  width: 100%;
}

.calendar-wrapper {
  max-width: 260px;
  width: 100%;
}

input:focus {
  border: solid 3px #f5bd41;
}

.rooms-wrapper {
  max-width: 314px;
  width: 100%;
}

.header-search input {
  width: 100%;
}

.header-pay-phone {
  display: flex;
  padding-top: 85px;
  justify-content: center;
  gap: 15px;
}

.header-pay-phone svg {
  height: 40px;
  width: 135px;
}

.form-button {
  height: 64px;
  max-width: 192px;
  width: 100%;
  text-align: center;
  background-color: #3077c6;
  color: var(--color-general-white);
  border-radius: 8px;
  border: none;
  font-size: 24px;
}

.advantages-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 570px;
  background-color: var(--color-general-white);
  justify-content: space-evenly;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.container-advantages {
  display: flex;
  flex-wrap: wrap;
  height: 184px;
  justify-content: space-between;
}

.img-advantages {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.img-advantages ._svg {
  width: 91px;
  height: 75px;
}

.footer {
  height: 625px;
  background-color: #10367c;
  color: var(--color-general-white);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 68px;
}

.list-heading {
  width: 400px;
}

.list-heading h4 {
  margin-bottom: 24px;
}

.list-heading a {
  color: var(--color-general-white);
  /*font-size: 24px;*/
  text-decoration: none;
}

.logo-img{
  display: none;
}

.footer-info{
  padding-top: 64px;
}


  @media (max-width: 925px) {
  .container {
    padding: 0;
  }
    .header-pay-phone{
      padding-top: 40px;
    }
}

@media (max-width: 360px) {
  .header-wrapper__text {
  font-size: 30px;
    margin-top: 52px;
    margin-bottom: 70px;
  }

  .advantages-box {
    height: 641px;
    justify-content: normal;
    padding-top: 24px;
    padding-bottom: 40px;
    gap: 34px;
  }

  .large-subtitle {
    font-size: 28px;
  }

  .container-advantages {
    height: 104px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .container-advantages p {
    font-size: 15px;
  }

  .img-advantages {
    gap: 15px;
  }

  .footer{
  height: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .footer-wrapper{
    padding-top: 40px;
    justify-content:center;
    gap: 16px;
  }

  .list-heading {
    width: unset;
  }

  .list-heading h4{
    font-size: 15px;
    margin-bottom: 24px;
  }

  .logo-img{
    display: flex;
    text-align: center;
    width: 98px;
    height: 19px;
    fill: var(--color-general-white);
  }

  ul li{
    display: none;
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    font-size: 12px;
  }
}
