@import url("fonts.css");

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.big-words {
  font-weight: 500;
}

.top-section {
  display: flex;
  background: url("/images/top-section-background.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  /*max-width: 100vw;*/
}
label {
  color: #ffffff;
}

.header {
  margin: 50px 0 0 104px;
}

.header-text {
  color: #ffffff;
  font-size: 50px;
  text-align: left;
}

.search-form {
  display: flex;
  ;
  /*width: 1223px;*/
  height: 64px;
}

.header-input-city {
  width: 467px;
  height: 64px;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.header-input-calendar {
  width: 259px;
  height: 64px;
  border-radius: 8px;
  border: 3px solid #F5BD41;
  position: absolute;
  margin-left: -15px;
}

.label-calendar{
  margin-left: 255px;
}
.header-input-rooms {
  width: 314px;
  height: 64px;
  text-align: center;
  border-radius: 8px;
  margin-left: 235px;
  border: none;
}
button {
  height: 64px;
  text-align: center;
  background-color: #3077c6;
  color: #ffffff;
  width: 192px;
  border-radius: 8px;
  margin-left: -15px;
  border: none;
}

.advantages {
  height: 570px;

  /*text-align: center;*/
}

h2 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 40px;
}

.color-line {
  border: 1px solid #f5bd41;
  width: 100px;
  margin-bottom: 80px;
}

.container-advantages {
  display: flex;
  /*justify-content: center;*/
  /*width: 1440px;*/
}

.container-advantages p {
  font-size: 24px;
}

.img-advantages {
  display: flex;
  flex-direction: column;
  height: 185px;
  width: 25%;
  justify-content: space-around;
}

.img-advantages > img {
  margin-bottom: 60px;
}

/*.img-advantages-headphones {*/
/*  margin-left: 105px;*/
/*}*/

.footer {
  display: flex;
  flex-wrap: wrap;
  height: 625px;
  background-color: #10367c;
  color: #ffffff;
  font-size: 20px;
}
.column-footer {
  width: 400px;
  margin: 120px 0 65px;
}

.column-about {
  margin-left: 100px;
}

.copyright {
  margin: 0 0 0 100px;
  font-size: 14px;
}

ul > li {
  list-style-type: none;
}

li {
  margin-bottom: 24px;
}
